# Ambiente virtual
.venv/
venv/

# PyCharm
.idea/

# Arquivos compilados do Python
__pycache__/
*.py[cod]

# Arquivos de cache
.pytest_cache/
.mypy_cache/

# Variaveis de ambiente
.env

# Dados gerados em tempo de execução
historico.json

# Arquivos do sistema
.DS_Store
Thumbs.db
calculadora.zip
 .zip